# **Day-11**

## **Question 38**
Question:
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the
first half values in one line and the last half values in one line.

### **Hints:**
Use [n1:n2] notation to get a slice from a tuple.

In [ ]:
tp = (1,2,3,4,5,6,7,8,9,10)

tp1 = tp[:5]
tp2 = tp[5:]

print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,10)

for i in range(0, 5):
  print(tpl[i], end = ' ')

print()

for i in range(5, 10):
  print(tpl[i], end = ' ')

1 2 3 4 5
6 7 8 9 10

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,10)

lst1, lst2 = [], []

for i in range(0, 5):
  lst1.append(tpl[i])

for i in range(5, 10):
  lst2.append(tpl[i])

print(lst1)
print(lst2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
'''
Solution by: CoffeeBrakeInc
'''

tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

lt = int(len(tup) / 2)

print(tup[:lt], tup[lt:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [ ]:
'''
Solution by: AasaiAlangaram
'''

tp = (1,2,3,4,5,6,7,8,9,10)

print('The Original Tuple:',tp)

[print('Splitted List: {List}'.format(List = tp[x:x + 5])) for x in range(0, len(tp), 5)]

The Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Splitted List: (1, 2, 3, 4, 5)
Splitted List: (6, 7, 8, 9, 10)

[None, None]

In [ ]:
'''
Solution by: saxenaharsh24
'''

tup = [i for i in range(1, 11)]

print(f'{tuple(tup[:5])} \n{tuple(tup[5:])}')

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

## **Question 39**
Question:
Write a program to generate and print another tuple whose values are even numbers
in the given tuple (1,2,3,4,5,6,7,8,9,10).

### **Hints:**
Use "for" to iterate the tuple. Use tuple() to generate a tuple from a list.

In [1]:
tpl = (1,2,3,4,5,6,7,8,9,10)

tpl1 = tuple(i for i in tpl if i % 2 == 0)

print(tpl1)

(2, 4, 6, 8, 10)

In [2]:
tpl = (1,2,3,4,5,6,7,8,9,10)

# Lambda function returns True if found even element.
# Filter removes data for which function returns False
tpl1 = tuple(filter(lambda x: x % 2 == 0, tpl))

print(tpl1)

(2, 4, 6, 8, 10)

## **Question 40**
Question:
Write a program which accepts a string as input to print "Yes"
if the string is "yes" or "YES" or "Yes", otherwise print "No".

### **Hints:**
Use if statement to judge condition.

In [3]:
s = input()

if s == "yes" or s == "Yes" or s == "YES":
  print("Yes")
else:
  print("No")

yes
Yes

In [4]:
'''
Solution by: Seawolf159
'''

text = input("Please type something. --> ")

if text == "yes" or text == "YES" or text == "Yes":
  print("Yes")
else:
  print("No")

Please type something. --> yes
Yes

## **Question 41**
Question:
Write a program which can map() to make a list whose elements
are square of elements in [1,2,3,4,5,6,7,8,9,10].

### **Hints:**
Use map() to generate a list.
Use lambda to define anonymous functions.

In [12]:
li = [1,2,3,4,5,6,7,8,9,10]

squaredNumbers = map(lambda x: x ** 2, li)

print(*squaredNumbers)

1 4 9 16 25 36 49 64 81 100

In [13]:
# No different way of code is written as the requirement
# is specifically mentioned in problem description
li = [1,2,3,4,5,6,7,8,9,10]

# returns map type object data
squaredNumbers = map(lambda x: x ** 2, li)

# converting the object into list
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
'''
Solution by: saxenaharsh24
'''

def sqrs(item):
  return item ** 2

lst = [i for i in range(1, 11)]

print(list(map(sqrs, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## **Question 42**
Question:
Write a program which can map() and filter() to make a list
whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

### **Hints:**
Use map() to generate a list.
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.

In [15]:
li = [1,2,3,4,5,6,7,8,9,10]

evenNumbers = map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, li))

print(*evenNumbers)

4 16 36 64 100

In [18]:
def even(x):
  return x % 2 == 0

def square(x):
  return x * x

li = [1,2,3,4,5,6,7,8,9,10]

# first filters number by even number and then apply map() on the resultant elements

li = map(square, filter(even, li))

print(list(li))

[4, 16, 36, 64, 100]

In [19]:
"""
Solution by: saxenaharsh24
"""

def even(item):
  if item % 2 == 0:
    return item ** 2

lst = [i for i in range(1, 11)]

print(list(filter(lambda j: j is not None, list(map(even, lst)))))

[4, 16, 36, 64, 100]

### **Question 43**
Question:
Write a program which can filter() to make a list whose elements are
even number between 1 and 20 (both included).

### **Hints:**
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.

In [20]:
evenNumbers = filter(lambda x: x % 2 == 0, range(1, 21))

print(*evenNumbers)

2 4 6 8 10 12 14 16 18 20

In [21]:

def even(x):
  return x % 2 == 0

evenNumbers = filter(even, range(1, 21))

print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]