# **Day-1**

## **Question-1:**
Write a program which will find all such numbers which are divisible by 7
but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line. 
### **Hints:**
Consider use range(#begin, #end) method.

In [ ]:
l = []

for i in range(2000, 3201):
  if i % 7 == 0 and i % 5 != 0:
    l.append(str(i))

print(",".join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:
# Using for loops, without list

for i in range(2000, 3201):
  if i % 7 == 0 and i % 5 != 0:
    print(i, end = ',')
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
# Using generators and list comprehension

print(*(i for i in range(2000, 3201) if i % 7 == 0 and i % 5 != 0), sep = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

## **Question 2**
Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:

8

Then, the output should be:

40320

### **Hints:**
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def fact(x):
  if x == 0:
    return 1
  return x * fact(x - 1)
x = int(input())

print(fact(x))

8
40320

In [ ]:
# Using For Loop

n = int(input())

fact = 1

for i in range(1, n + 1):
  fact = fact * i
print(fact)

8
40320

In [ ]:
# Using Lambda Function

n = int(input())

def shortFact(x): return 1 if x <= 1 else x * shortFact(x - 1)

print(shortFact(n))

8
40320

In [ ]:
# Using While Loop

n = int(input())

fact = 1

i = 1

while i <= n:
  fact = fact * i
  i = i + 1
print(fact)

8
40320

In [ ]:
'''Solution by: minnielahoti
'''

while True:
  try:
    num = int(input("Enter a number: "))
    break
  except ValueError as err:
    print(err)

org = num
fact = 1

while num:
  fact = num * fact 
  num = num - 1
print(f'The factorial of {org} is {fact}')

Enter a number: 8
The factorial of 8 is 40320

In [ ]:
'''Soltuion by: KruthikaSR
'''
from functools import reduce

def fun(acc, item):
  return acc * item

num = int(input())

print(reduce(fun, range(1, num + 1), 1))

8
40320

##  **Question 3**

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i x i)
such that is an integral number between 1 and n (both included).
and then the program should print the dictionary.

Suppose the following input is supplied to the program: 8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### **Hints:**

In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [1]:
# Using for loops

n = int(input())

ans = {}

for i in range(1, n + 1):
  ans[i] = i * i

print(ans)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [3]:
# Using dictionary comprehension

n = int(input())

ans = {i: i * i for i in range(1, n + 1)}

print(ans)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [4]:
'''Solution by: minnielahoti
   Corrected by: TheNobleKnight 
'''

try:
  num = int(input("Enter a number: "))
except ValueError as err:
  print(err)

dictio = dict()

for item in range(num + 1):
  if item == 0:
    continue
  else:
    dictio[item] = item * item
print(dictio)

Enter a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:
'''Solution by: yurbika
   Corrected by: developer-47
'''

num = int(input("Number: "))

print(dict(enumerate([i * i for i in range(1, n + 1)], 1)))

Number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}