# **Day-5**

## **Question 16**
Question:
Use a list comprehension to square each odd number in a list.
The list is input by a sequence of comma-separated numbers.

Suppose the following input is supplied to the program:

**1,2,3,4,5,6,7,8,9**

Then, the output should be:

**1,9,25,49,81**

### **Hints:**
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
lst = [ str(int(i) ** 2) for i in input().split(',') if int(i) % 2]

print(",".join(lst))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

In [ ]:
'''Solution by: shagun'''

# splits in comma position and set up in list
lst = input().split(',')

seq = []

# converts string to integer
lst = [int(i) for i in lst]

for i in lst:
  if i % 2 != 0:
    i = i * i
    seq.append(i)

# All the integers are converted to string to be able to apply join operation
seq = [str(i) for i in seq]

print(",".join(seq))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

In [ ]:

'''Solution by: Jack'''

seq = input().split(',')

lst = [int(i) for i in seq]

def flt(i):
  return i % 2 != 0

result_l = [str(i * i) for i in filter(flt, lst)]

print(",".join(result_l))

1,2,3,4,5,6,7,8,9
1,9,25,49,81

## **Question 17**
Question:
Write a program that computes the net amount of a bank account based a transaction log
from console input. The transaction log format is shown as following:

D 100
W 200

D means deposit while W means withdrawal.

Suppose the following input is supplied to the program:

**D 300**

**D 300**

**W 200**

**D 100**


Then, the output should be:


**500**


### **Hints:**
In case of input data being supplied to the question, it should be assumed to be a console input.

In [1]:
total = 0

while True:
  s = input().split()
  if not s:
    break
  cm, num = map(str, s)

  if cm == 'D':
    total += int(num)
  if cm == 'W':
    total -= int(num)

print(total)

D 300
D 300
W 200
D 100

500

In [2]:
'''Solution by: leonedott'''

lst = []

while True:
  x = input()
  if len(x) == 0:
    break
  lst.append(x)

balance = 0

for item in lst:
  if 'D' in item:
    balance += int(item.strip('D'))
  if 'W' in item:
    balance -= int(item.strip('W'))

print(balance)

D 300
D 300
W 200
D 100

500

In [5]:
'''Solution by: ChichiLovesDonkeys
'''
money = 0

while 1:
  trans = input().split(' ')
  if trans[0] == 'D':
    money = money + int(trans[1])
  elif trans[0] == 'W':
    money = money - int(trans[1])
  elif input() == '':
    break
  print(f'Your current balance is: {money}')

D 300
Your current balance is: 300
D 300
Your current balance is: 600
W 200
Your current balance is: 400
D 100
Your current balance is: 500